<h1>Hellow word!!</h1>
<!-- <app-rooms></app-rooms> -->
<!-- <dvi [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcom User</div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        YOU DON'T HAVE AUTHORIZATION TO VIEW THIS PAGE!!
    </div>
</dvi> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<app-container>
    <app-employee></app-employee>
    <app-rooms></app-rooms>
    this is for ng-content
</app-container>

<div #name>

</div>